<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>
      {% block title %}<!-- Placeholder for title -->{% endblock %} - Paws Rescue Center
    </title>
  </head>
  <body>
    
    <nav>
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('about')}}">About</a>
      <a href="{{url_for('signup')}}">Sign Up</a>
    </nav>

    <h1 id="title">
      {% block head %}<!-- Placeholder for other imports -->{% endblock %}
    </h1>

    <div class="content">
      {% block content %}
      <!-- Placeholder for page content -->
      {% endblock %}
    </div>
  </body>
</html>
