<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Home - Paws Rescue Center</title>
  </head>
  <body>
    <h1>Paws Rescue Center</h1>

    <table>

      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Bio</th>
      </tr>
      <tr>
        <td><img height="100px" src="{{url_for('static', filename = '1.jpeg')}}"</td>
        <td>Nelly</td>
        <td>5 Weeks</td>
        <td>I am a tiny kitten by the good people at Paws Rescue Center. I love squeaky toys and cuddles</td>
      </tr>
      <tr>
        <td><img height="100px" src="{{url_for('static', filename = '2.jpeg')}}"</td>
        <td>Yuki</td>
        <td>8 Month</td>
        <td>I am a handsome gentle-cat. I like to dressup in bow ties</td>
      </tr>
      <tr>
        <td><img height="100px" src="{{url_for('static', filename = '3.jpeg')}}"</td>
        <td>Basker</td>
        <td>1 Year</td>
        <td>I love Barking. But, I love my friends more</td>
      </tr>
      <tr>
        <td><img height="100px" src="{{url_for('static', filename = '4.jpeg')}}"</td>
        <td>Mr. Furrkins</td>
        <td>5 Year</td>
        <td>Probably Napping</td>
      </tr>


    </table>
  </body>
</html>
