<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Home - Paws Rescue Center</title>
  </head>
  <body>
    <h1>Paws Rescue Center</h1>

    <table>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Age</th>
        <th>Bio</th>
      </tr>
      {% for pet in pets %}
      <tr>
        <td>
          <a href="{{url_for('details', pet_id = pet['id'])}}">
            <img src="{{url_for('static', filename = pet['id'] | string + '.jpeg')}}" height="100" >
          </a>
        </td>
        <td>{{pet["name"]}}</td>
        <td>{{pet["age"]}}</td>
        <td>{{pet["bio"]}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
