{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block head %} Login {% endblock %}

{% block content %}

<form action = "{{url_for('login')}}" method = 'POST'>
    <!-- Email:<br>
    <input type = "text" name = "email">
    <br>
    Password:<br>
    <input type = "password" name = "password">
    <br>
    <input type = "submit" value = 'Login'> -->
    {{form.email.label}}<br>
    {{form.email}}
    <br>
    {{form.password.label}}<br>
    {{form.password}}
    <br>
    {{form.csrf_token}}
    {{form.submit}}


</form>

{% endblock %}