{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block heading %}
Please Sign Up
{% endblock %}

{% block content %}
{%if form %}
<form action="{{url_for('signup')}}" method="POST">
    {{ form.fullName.label }}
    <br>
    {{ form.fullName }}
    <br>
    {{ form.email.label }}
    <br>
    {{ form.email }}
    <br>
    {{ form.password.label }}
    <br>
    {{ form.password }}
    <br>
    {{ form.confirmPassword.label }}
    <br>
    {{ form.confirmPassword }}
    <br>
    {{ form.submit }}
    <br>
    {{ form.csrf_token }}
</form>
{% endif %}
{% endblock %}


